# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
/solutions/c/registry_client/INSTALL
/php/wsf_c/savanc/install-sh
/php/wsf_c/savanc/ltmain.sh
/php/wsf_c/savanc/missing
/php/wsf_c/savanc/compile
/php/wsf_c/savanc/config.guess
/php/wsf_c/savanc/config.sub
/php/wsf_c/savanc/samples/COPYING
/php/wsf_c/savanc/samples/INSTALL
/php/wsf_c/savanc/depcomp
/php/src/.libs/wsf.la
